HW/MAIN/History/
HW/MAIN/__Previews/
HW/POWER/__Previews/
HW/POWER/History/
*.PrjPcbStructure
HW/POWER/Project Outputs for power_board/
HW/MAIN/Project Outputs for TamiyaTankArduinoShield/
MECH/OldVersions/
Project Logs for *
*.log
HW/POWER/Project Outputs for ie-track-kit-pwr-1/
OldVersions
HW/POWER/Project Outputs/

*.SchDocPreview

HW/POWER/__PRODUCTION/Status Report\.Txt
